.toggle-btn {
  background-color: #2ecb71 !important;
  border: none;
}
.btn-pricing {
  background-image: linear-gradient(
    to right,
    rgb(95, 145, 131),
    rgb(184, 152, 215)
  ) !important;
  border: none !important;
  color: black !important;
  text-decoration: none !important;
}
.btn-pricing Link {
  color: black !important;
  text-decoration: none !important;
}
